.section {
    min-height: 100vh;
    background-image: url("/img/bg.png");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 623px;
    padding: 38px 33px;
    border-radius: 50px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
}
.logo {
    margin: 0 auto;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 177px;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    color: #060606;
    font-family: "Akira", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 24px 0 8px;
}
.subtitle {
    opacity: 0.7;
    color: #060606;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 auto 32px;
    max-width: 100%;
    width: 415px;
}
.soc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 32px;
    justify-content: center;
}
.socTitle {
    opacity: 0.5;
    width: 100%;
    color: #060606;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.socItem {
    margin: 12px 5px 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 70px;
    transition: all 0.4s;
}
.socItem:hover {
    opacity: 0.7;
}
.socItem img {
    display: block;
    max-width: 100%;
    height: auto;
}
.btnMt {
    margin-top: 24px;
}

.accountTop {
    padding: 155px 0 62px;
    background-image: url("/img/bg-account.png");
    background-size: cover;
    background-position: bottom center;
}
.accountTitle {
    width: 800px;
    max-width: 100%;
    color: #fff;
    font-family: "Akira", sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.accountBold {
    margin: 30px 0 24px;
    color: #060606;
    font-family: "Akira", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.accountList {
    display: flex;
    align-items: center;
}
.accountBlock {
    padding-right: 50px;
    margin-right: 50px;
    position: relative;
    flex-grow: 1;
}
.btnPopup {
    height: 38px;
    display: inline-flex;
    align-items: center;
    padding: 0 18px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(6, 6, 6, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    color: #060606;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    transition: all 0.4s;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.btnPopup::before {
    content: "";
    display: block;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    background-image: url("/img/edit.svg");
}
.btnPopup:hover {
    background: rgba(6, 6, 6, 0.2);
}
.accountItemTitle {
    opacity: 0.7;
    color: #060606;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}
.accountText {
    margin-top: 4px;
    color: #060606;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}
.accountBlock::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 58px;
    opacity: 0.2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
}
.account {
    padding-bottom: 40px;
}
@media (max-width: 1580px) {
    .btnPopup {
        right: 24px;
    }
    .accountBlock {
        margin-right: 24px;
        padding-right: 24px;
    }
    .accountBlock:first-child {
        flex-grow: 0;
    }
}

@media (max-width: 1250px) {
    .accountTitle {
        font-size: 48px;
    }
    .accountBlock:nth-child(3) {
        margin-right: 0;
        padding-top: 0;
    }
    .accountBlock:nth-child(3)::before {
        display: none;
    }
    .accountBlock {
        min-width: 250px;
    }
    .accountList {
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .wrapper {
        padding: 15px 11px;
        border-radius: 20px;
    }
    .accountBold {
        font-size: 26px;
        letter-spacing: 0;
        line-height: normal;
        margin-top: 2px;
        margin-bottom: 24px;
    }
    .logo {
        width: 89px;
        height: auto;
    }
    .title {
        margin: 16px 0 4px;
        font-size: 16px;
        line-height: normal;
    }
    .subtitle {
        width: 240px;
        margin: 0 auto 18px;
        max-width: 100%;
        font-size: 14px;
        line-height: 120%;
    }
    .logo img {
        height: auto;
    }
    .wrapper {
        width: 100%;
    }
    .soc {
        margin-top: 10px;
    }
    .socTitle {
        font-size: 14px;
    }
    .socItem {
        margin: 4px 5px 0;
        width: 44px;
        height: 44px;
    }
    .socItem img {
        width: 20px;
        height: auto;
    }
    .accountTitle {
        font-size: 20px;
        letter-spacing: 1px;
        width: 300px;
        max-width: 100%;
    }
    .accountTop {
        padding: 120px 0 68px;
    }
    .accountBlock {
        margin-bottom: 16px;
        padding-bottom: 16px;
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
    .btnPopup {
        right: 0;
        height: 38px;
        font-size: 16px;
        transform: none;
        top: 3px;
    }
    .accountBlock::before {
        display: block;
        top: auto;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: none;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
    }
}

@media (max-width: 767px) {
    .accountTop {
        background-image: url("/img/bg-account-mobile.png");
        background-position: left bottom;
    }
}

@media (max-width: 360px) {
    .accountBold {
        font-size: 24px;
    }
    .accountText {
        font-size: 14px;
    }
    .accountItemTitle {
        font-size: 12px;
    }
}
