@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
    box-sizing: border-box;
}
main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@font-face {
    font-family: "Akira";
    src: url("/fonts/Akira-Expanded.otf") format("otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Akira";
    src: url("/fonts/Akira-Expanded.otf") format("otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    color: #060606;
    font-family: "League Spartan", sans-serif;
    line-height: normal;
}
nav li.active a {
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 1721px;
    max-width: 100%;
    margin: 0 auto;
}
.page-wrapper {
    overflow: hidden;
}

.index {
    position: relative;
    z-index: 3;
}
.success {
    background: green;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    margin-top: 16px;
    border-radius: 12px;
}
.events .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
.events .swiper-slide {
    height: auto !important;
}
.error {
    background: rgb(228, 24, 24);
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    margin-top: 16px;
    border-radius: 12px;
}
.center {
    text-align: center;
}
.modal-title {
    margin-bottom: 16px;
    color: #060606;
    font-family: "Akira", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    width: calc(100% - 30px);
}
.input {
    margin-top: 18px;
}
.input:first-child {
    margin-top: 0;
}
.input-title {
    margin-bottom: 6px;
    color: #060606;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}
.input-wrapper {
    position: relative;
}
.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 66px;
    outline: none;
    padding-left: 19px;
    border-radius: 15px;
    border: 1px solid #9d9d9d;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    font-size: 18px;
    font-weight: 500;
    color: #060606;
    line-height: 120%;
}
.custom__control {
    border: 1px solid #9d9d9d !important;
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(42px) !important;
    height: 66px !important;
    border-radius: 15px !important;
}
.custom__indicators {
    display: none !important;
}
.custom__value-container {
    height: 100% !important;
    /*display: flex !important;
    align-items: center !important;*/
    padding: 0 !important;
    width: 100% !important;
}
.custom__input-container {
    position: static;
}
input.custom__input {
    width: 100% !important;
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
    backdrop-filter: none !important;
    padding-left: 19px !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    grid-area: 1 !important;
}
.custom__placeholder {
    color: #808080 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 120% !important;
    padding-left: 19px !important;
}
.input-wrapper select {
    cursor: pointer;
    user-select: none;
    appearance: none;
}
.input-wrapper textarea {
    padding: 19px;
    height: 167px;
    resize: none;
}
.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder .input-wrapper select {
    color: #535353;
}
.input.m0 {
    margin: 0;
}
.input-block {
    margin-bottom: 18px;
}
.input-arrow::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("/img/input-arrow.svg");
    background-repeat: no-repeat;
    right: 10px;
    top: calc(50% - 17px);
    position: absolute;
    pointer-events: none;
    z-index: 3;
}
.modal-input input {
    height: 44px;
    font-size: 14px;
    padding-left: 19px;
    border-radius: 12px;
}
.btn {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: rgba(6, 6, 6, 0.6);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    color: #fff;
    font-family: "Akira", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    overflow: hidden;
    transition: all 0.4s;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/btn.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.btn:hover {
    opacity: 0.8;
}
.btn span {
    position: relative;
    z-index: 3;
}
.input-view {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    width: 24px;
    height: 24px;
    background-image: url("/img/view.svg");
    background-repeat: no-repeat;
    z-index: 3;
    cursor: pointer;
    user-select: none;
}
.input-view.active {
    background-image: url("/img/view-2.svg");
}
.form-link {
    margin-top: 12px;
    color: #060606;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    display: block;
}
.form-link a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 7%;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #060606;
    font-weight: 600;
    display: inline-flex;
    transition: all 0.4s;
    margin-left: 4px;
}
.form-link a:hover {
    opacity: 0.7;
}
.input-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-block {
    width: calc(50% - 5px);
}
.input-mb {
    margin-bottom: 18px;
}
.input.mt0 {
    margin-top: 0 !important;
}
.active.swiper-slide img {
    filter: grayscale(0) !important;
}
.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.logout::before {
    background-image: url(/img/header-btn.svg);
}
.logout img {
    transition: all 0.4s;
}
.home-overflow {
    position: relative;
    overflow: hidden;
}
.logout {
    width: 206px;
    height: 54px;
    font-size: 16px;
    letter-spacing: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout:hover img {
    transform: translateX(-3px) rotate(180deg);
}

.logout img {
    display: block;
    position: relative;
    z-index: 2;
    margin-left: 12px;
    transition: all 0.4s;
    transform: rotate(180deg);
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}
.modal-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(6, 6, 6, 0.7);
    backdrop-filter: blur(47px);
}
.modal-list {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
}
.modal-container {
    width: 411px;
    position: relative;
    z-index: 3;
    max-width: 100%;
    margin: auto;
    position: relative;
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.btn-red {
    width: 100%;
    height: 54px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(255, 63, 63, 0.8);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.btn-modal {
    margin-top: 26px;
    width: 100%;
    height: 54px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-red::before {
    display: none;
}
.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.4s;
    width: 24px;
    height: 24px;
    background-image: url("/img/close-modal.svg");
    background-repeat: no-repeat;
}
.custom__single-value {
    padding-left: 19px !important;
}
.bottom-block-sign {
    margin: 32px 0 0 0;
}

.swiper .swiper-pagination {
    margin: 26px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    justify-content: center;
}
.swiper .swiper-pagination-bullet {
    margin: 0 4px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 24px !important;
    background: #c8c8c8 !important;
    opacity: 1 !important;
    transition: all 0.4s !important;
    position: relative;
    overflow: hidden;
}
.swiper .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
    background-size: cover;
    background-position: center;
    background-image: url("/img/bullet.png");
}
.swiper .swiper-pagination-bullet-active::before {
    opacity: 1;
}
.swiper .swiper-pagination-bullet-active {
    width: 103px !important;
}

@media (max-width: 1800px) {
    .container {
        width: 1500px;
    }
}

@media (max-width: 1580px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1250px) {
    .container {
        width: 940px;
    }
    .logout {
        margin: 16px auto 0;
        width: 360px;
        max-width: 100%;
        height: 54px;
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 730px;
    }
    .input-mb {
        margin-bottom: 8px;
    }
    .input-view {
        right: 10px;
    }
    .input-block {
        width: 100%;
    }
    .input-block {
        margin-bottom: 8px;
    }
    .form-link {
        margin-top: 12px;
        font-size: 14px;
        line-height: 120%;
    }
    .input {
        margin-top: 8px;
    }
    .input-title {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 120%;
    }
    .input-wrapper input {
        height: 44px;
        padding-left: 19px;
        font-size: 14px;
        border-radius: 10px;
    }
    .custom__control {
        height: 44px !important;
        border-radius: 10px !important;
    }
    .custom__placeholder {
        font-size: 14px !important;
    }
    input.custom__input {
        font-size: 14px !important;
    }
    .btn {
        height: 54px;
        font-size: 16px;
        border-radius: 15px;
    }
    .input-wrapper select {
        height: 44px;
        padding-left: 19px;
        font-size: 14px;
        border-radius: 10px;
    }
    .input-arrow::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
        right: 10px;
        top: calc(50% - 10px);
    }
    .input-wrapper textarea {
        padding-top: 16px;
        font-size: 16px;
        border-radius: 15px;
        height: 200px;
        letter-spacing: 0;
    }
    .swiper .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
        margin: 0 4px !important;
    }
    .swiper .swiper-pagination {
        margin-top: 16px;
    }
    .swiper .swiper-pagination-bullet-active {
        width: 59px !important;
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}
